body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


/*      1 1
        1 1     */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 200px;
}
.a1 {
  height: 200px;
  width: 200px;
  background-color: #e64326;
}
.a2 {
  height: 200px;
  width: 200px;
  background-color: #f5f6fa;
}
.a3 {
  height: 200px;
  width: 200px;
  background-color: #8090a5;
}
.a4 {
  height: 200px;
  width: 200px;
  background-color: #283e74;
}



/* circle */
.sub {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  position: relative;
  right: 150%; 
}
.b1 {
  width: 100px;
  height: 100px;
  background-color: #f5f6fa;
  border-radius: 100% 0px;
  transform: rotate(0deg);
}
.b2 {
  width: 100px;
  height: 100px;
  background-color: #e64326;

  border-radius: 100% 0px;
  transform: rotate(90deg);
}
.b3 {
  width: 100px;
  height: 100px;
  background-color: #8090a5;
  border-radius: 100% 0px;
  transform: rotate(180deg);

  position: relative; 
  left: 100px;
  top: -100px;
}
.b4 {
  width: 100px;
  height: 100px;
  background-color: #283e74;
  border-radius: 100% 0px;
  transform: rotate(270deg);

  position: relative;
  left: 100px;
  top: -300px;
}

